body, body p{color: #555;}


h1,h2,h3,h4,h5,h6 {
	color:#222;
}


blockquote:before {
  color: #1fc055;
}


a{
	color: #1fc055;
}
a:focus{color: #8224e3;}
a:hover{
	color: #8224e3;
}
a:focus{outline: none;}
hr{background: #d1d1d1;}

.cp-color{
	color: #1fc055;
}

.backtotop{background:#1fc055;}

#cp-header .navbar-nav li a{color: ;}



#cp-top .c-top-left ul li a{color: #fff;}
#cp-top .c-top-left ul li a:hover,#cp-top .c-top-left ul li a:hover i{color: #1fc055;}
#cp-top .c-top-left ul li.email i{color: #fff;}
#cp-top .c-top-left ul li.phone i{color: #fff;}

#cp-top .c-top-left ul li a:hover,#cp-top .c-top-left ul li a:hover i{ color: #1fc055;}

#cp-top .social ul li{color: #fff;}
#cp-top .social ul li:after{color: rgba(255,255,255,.5);}
#cp-top .social ul li a{color: rgba(255,255,255,.5);}
#cp-top .social ul li a:hover{color: #fff;}

.c-top-right a.account-link:hover{color: #1fc055;}

#cp-top .c-top-right a.appointment{background: #1fc055;color: #fff;}
#cp-top .c-top-right a.appointment:hover{ background: #8224e3;}

#cp-header a.navbar-brand:hover h2{color: #1fc055;}




#cp-header .navbar-nav.submit-listing li a:hover{background: #8224e3; }



.banner-content .banner-btn a.global-btn:hover{color: #8224e3;}

a.global-btn{background: #1fc055;}
a.global-btn:hover{border-color: #8224e3;color: #8224e3;}

button.global-btn{background: #1fc055;}
button.global-btn:hover{border-color: #8224e3;color: #8224e3;}

a.global-btn.btn-solid{color: #1fc055;background: none; border: solid 2px #1fc055;}
a.global-btn.btn-solid:hover{color: #fff;background: none; border: solid 2px #1fc055; background: #1fc055;}

.banner-btn a.global-btn{background: #f5af02;}
.banner-btn a.global-btn:hover{background: #1fc055;border-color: #1fc055;color: #fff;}

.checklists li i{color: #8224e3;}

.cp-services h4 a:hover{color: #8224e3;}


.blog-item h3 a:hover{color: #1fc055;}

.cp-header-title{background-color: ;}



.widget .widget-title:after{color: #1fc055;}
.blog-date{color: #1fc055;}
.widget ul li span{color: #1fc055;}

.widget ul li a:hover{color: #1fc055;}
.comments-area .submit{background: #1fc055;}

.comments-area .submit:hover{background: #8224e3;}

.register-login .global-btn:hover, .acf-form .acf-button:hover{
	background:#1fc055;
	border-color:#1fc055;	
}


.pricing .pricing-widget:hover .pricing-header .price-cost, .pricing .pricing-widget.active .pricing-header .price-cost {
    background-color: #1fc055;
}

.pricing .pricing-widget:hover .pricing-content, .pricing .pricing-widget.active .pricing-content {
    background-color: #1fc055;
}

.listing-comment .comments-area .submit{
	border:2px solid #1fc055;
	background:#1fc055;
}
#cp-header .navbar-nav li a:hover,#cp-header .navbar-nav li.current-menu-item a{color:#1fc055;}
.listing-comment .comments-area .submit:hover{
	background:#8224e3;
	border-color:#8224e3;	
}
.paypal-entry .item-field_price span{color: #8224e3;}
//#cp-header .navbar-nav li a{color:#1fc055}

/**@media 991px**/@media ( max-width: 991px ){

	
	#cp-header .navbar-nav i.toggle-down{background: #1fc055;}
	#cp-header .navbar-nav ul li a:hover{color:#1fc055;}
	#cp-header .navbar-nav li,#cp-header .navbar-nav li a,
	//#cp-header .navbar-nav li.current-menu-item a{color:#1fc055 !important;}

}/**end @media 991px**/


body .listing_search button.btn[type="submit"] {
    background: #8224e3;
}
.page-template-pricing #page-banner, .page-template-pay #page-banner {
	background: #c8cad0;
}
#cp-top{ background: #2d8d93 !important; }

.cp-header-title span,
a.nlplink{background : #f5af02 ;}

.cp-header-title span:hover,
a.nlplink:hover{background : #777 ;}

.cp-header-title span,
 a.nlplink,.featured-home h3, .featured-home span{color : #fff ;}
 
#page-banner h1 { color: #fff}

.cp-header-title span:hover,
a.nlplink:hover,.featured-home h3:hover,.featured-home span:hover{color : #fff !important;}


