body, body p{color: #555555;}


h1,h2,h3,h4,h5,h6 {
	color:#222;
}


blockquote:before {
  color: #dd3333;
}


a{
	color: #dd3333;
}
a:focus{color: #dd0000;}
a:hover{
	color: #dd0000;
}
a:focus{outline: none;}
hr{background: #d1d1d1;}

.cp-color{
	color: #dd3333;
}

.backtotop{background:#dd3333;}

/*#cp-top{background: #2d8d93;}*/


#cp-top .c-top-left ul li a{color: #fff;}
#cp-top .c-top-left ul li a:hover,#cp-top .c-top-left ul li a:hover i{color: #dd3333;}
#cp-top .c-top-left ul li.email i{color: #fff;}
#cp-top .c-top-left ul li.phone i{color: #fff;}

#cp-top .c-top-left ul li a:hover,#cp-top .c-top-left ul li a:hover i{ color: #dd3333;}

#cp-top .social ul li{color: #fff;}
#cp-top .social ul li:after{color: rgba(255,255,255,.5);}
#cp-top .social ul li a{color: rgba(255,255,255,.5);}
#cp-top .social ul li a:hover{color: #fff;}

.c-top-right a.account-link:hover{color: #dd3333;}

#cp-top .c-top-right a.appointment{background: #dd3333;color: #fff;}
#cp-top .c-top-right a.appointment:hover{ background: #dd0000;}

#cp-header a.navbar-brand:hover h2{color: #dd3333;}
#cp-header .navbar-nav li.current-menu-item a{color: #dd3333;}
#cp-header .navbar-nav li a:hover{color: #dd3333;}

#cp-header .navbar-nav.submit-listing li a{background: #dd3333; }
#cp-header .navbar-nav.submit-listing li a:hover{background: #dd0000; }

/**dropdown**/
#cp-header .navbar-nav li:hover ul{background: #dd3333;}
/**end dropdown**/

.banner-content .banner-btn a.global-btn:hover{color: #dd0000;}

a.global-btn{background: #dd3333;}
a.global-btn:hover{border-color: #dd0000;color: #dd0000;}

button.global-btn{background: #dd3333;}
button.global-btn:hover{border-color: #dd0000;color: #dd0000;}

a.global-btn.btn-solid{color: #dd3333;background: none; border: solid 2px #dd3333;}
a.global-btn.btn-solid:hover{color: #fff;background: none; border: solid 2px #dd3333; background: #dd3333;}

.banner-btn a.global-btn{background: #f5af02;}
.banner-btn a.global-btn:hover{background: #dd3333;border-color: #dd3333;color: #fff;}

.checklists li i{color: #dd0000;}

.cp-services h4 a:hover{color: #dd0000;}

.our-blog-date {
  color: #dd3333;
}
.blog-item h3 a:hover{color: #dd3333;}

.cp-header-title{background-color: #c63d2d;}

.cp-header-title span{background: #dd3333;}

.widget .widget-title:after{color: #dd3333;}
.blog-date{color: #dd3333;}
.widget ul li span{color: #dd3333;}

.widget ul li a:hover{color: #dd3333;}
.comments-area .submit{background: #dd3333;}

.comments-area .submit:hover{background: #dd0000;}

.register-login .global-btn:hover, .acf-form .acf-button:hover{
	background:#dd3333;
	border-color:#dd3333;	
}
a.add-listing{background:#dd3333;}

.pricing .pricing-widget:hover .pricing-header .price-cost, .pricing .pricing-widget.active .pricing-header .price-cost {
    background-color: #dd3333;
}

.pricing .pricing-widget:hover .pricing-content, .pricing .pricing-widget.active .pricing-content {
    background-color: #dd3333;
}

.listing-comment .comments-area .submit{
	border:2px solid #dd3333;
	background:#dd3333;
}

.listing-comment .comments-area .submit:hover{
	background:#dd0000;
	border-color:#dd0000;	
}
.paypal-entry .item-field_price span{color: #dd0000;}
/**@media 991px**/@media ( max-width: 991px ){

	#cp-header .navbar-nav li.current-menu-item a{color: #dd3333;}
	#cp-header .navbar-nav i.toggle-down{background: #dd3333;}
	#cp-header .navbar-nav ul li a:hover{color:#dd3333;}

}/**end @media 991px**/


body .listing_search button.btn[type="submit"] {
    background: #dd0000;
}
.page-template-pricing #page-banner, .page-template-pay #page-banner {
	background: #dd9933!important;
}